@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');

.logo {
  /* Ensures logo stays on the left */
  display: flex;
  align-items: center;
  margin-right: 180px; 
}
.logo-pic{
  width: 70px;
  height: 70px;
  margin-left: 0;
  
  

}
nav{
  background-color: grey;
  border-bottom: 5px solid #ccc;
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  padding: 20px;
}
.menu{
    /* list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    padding: 20px;
    gap: 20px; */

  list-style: none;
  display: flex;

  /* justify-content: space-between; */
  gap: 70px; /* Space between menu items */
  margin-left: 300px;
  padding: 20px;
}
.menu li  {
  text-decoration: none;
  /* margin-left: 0%; */
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.image{
  width: 150px;
  height: 70 px;
  

}
.content{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.image-container{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 30px;
}
.service-title{
  font-family: 'Manufacturing Consent', sans-serif;
  font-size: 24px;
  color: blueviolet;
  display: flex;
  justify-content: center;
  
}
.flower-image{
  width: 200px;
  height: 200px;
  padding-top: 40px;
  /* border-radius: 20%; */
  
}
.service-card{
  width: 300px;
  height: 500px;
  border: 1px solid #ccc;
  box-shadow:4px 4px 10px gray;
  border-radius: 8px;
  text-align: center;
}
.service-btn{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  
}
.service-btn:hover{
  background-color: darkviolet;
}
.service-1{
  display: flex;
  justify-content: space-around;
  align-items: center;

}


